<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Settings</title>
    <link href="/static/settings.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Device Settings</h1>
    <div class="device-info">
        <p><strong>ID:</strong> {{ device_id }} <strong>ip:</strong> {{ settings.ip_address }}</p>
        <p><strong>User Agent:</strong> {{ settings.user_agent }}</p>
    </div>
    <form method="post" action="/go">
        <label for="photo_time">Photo Display Time (sec):</label>
        <input type="number" id="photo_time" name="photo_time" min="5" value="{{ settings.photo_time }}" required>

        {% set checkbox_list = [
          {'name': 'only_photo', 'label': 'Video Skip Mode (Photo Only)'},
          {'name': 'sequential_mode', 'label': 'Sequential Mode'},
          {'name': 'show_counters', 'label': 'Display Counters'},
          {'name': 'show_names', 'label': 'Show file names'}
      ] %}

        <div class="checkbox-group">
            {% for checkbox in checkbox_list %}
                <label>
                    <input type="checkbox" name="{{ checkbox.name }}"
                           {% if settings[checkbox.name] %}checked{% endif %}>
                    {{ checkbox.label }}
                </label>
            {% endfor %}
        </div>

        <div class="radio-group">
            <p>Video Background:</p>
            <label>
                <input type="radio" name="video_background" value="static"
                       {% if not settings.video_background %}checked{% endif %}>
                Static
            </label>
            <label>
                <input type="radio" name="video_background" value="video"
                       {% if settings.video_background %}checked{% endif %}>
                Video
            </label>
        </div>

        <button type="submit" class="btn">Save Settings</button>
    </form>
</div>
</body>
</html>
